.logo{
    color: rgb(178, 32, 110);
    

}
.tab{
    border-color: rgb(202, 50, 75);
}
.bob{
    color: rgb(169, 35, 57);
}
.logo1{
    color: rgb(178, 32, 110);
}
.p{
    color: rgb(178, 32, 110);
}

.i{
    color: rgb(178, 32, 110);
}
.u{
    color: rgb(178, 32, 110);
}
.u{
    color: rgb(178, 32, 110);
}
.p1{
    
    color: rgb(178, 32, 110);
}
.m{
    color: rgb(178, 32, 110);
}